*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;

    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    background-color: #00ced1;
}

canvas {
    display: block;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;

    background-color: #090909;
}

.canvas-default { cursor: default; }
.canvas-draggable { cursor: grab; }
.canvas-dragging { cursor: grabbing; }

/******************** NOTIFICATION MODAL ********************/

.notify-div {
    position: absolute;
    top: 5rem;

    padding: 0.2em 0.4em;

    background-color: #f0f0f0;
    border: 1px solid #a0a0a0;
    border-radius: 0.25em;
    font-size: 1.33rem;

    animation: notifyFadeOut 3s linear;
    opacity: 0;
}

.notify-div > h1 {
    color: #0a0a0a;
    font: 700 1em sans-serif;
}

@keyframes notifyFadeOut {
    0% { opacity: 0; }
    1%, 90% { opacity: 1; }
    100% { opacity: 0; }
}